body {
    background-color: rgb(255, 224, 224);
  }
.container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #048eaa;
  color: white;
}
.box1 h3{
  float: left;
}
.box1 a{
  float: right;   
  margin-left: 50%;
}
.filter-container{
  margin-bottom: 10px;
}